<div class="modal">
  <header class="bar bar-header bar-positive">
    <h1 class="title">Correção de Número</h1>
    <div class="button button-clear" ng-click="modalCorrecao.hide()">
      <span class="icon ion-close"></span>
    </div>
  </header>
  <content has-header="true" padding="true">
    <form name="frmSugestao" ng-submit="addCorrecao()" style="padding-top: 50px;">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Nome" ng-model="correcao.nome" required="required">
        </label>
        <label class="item item-input">
          <input type="tel" placeholder="Telefone" ng-model="correcao.telefone" required="required" mask="(99) 9?9999-9999">
        </label>
      </div>
      <button type="submit" class="button button-full button-positive" ng-disabled="frmSugestao.$invalid">
        Enviar
      </button>
    </form>
  </content>
</div>
