<ion-view view-title="Agenda Água Boa">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-energized" ng-click="openSugestao()">
      <strong><i class="ion-plus-round"></i></strong>
    </button>
  </ion-nav-buttons>
  <ion-header-bar class="bar-light bar-subheader" style="padding-top:52px">
    <form name="frmPesquisa" ng-submit="pesquisar()">
      <div class="list">
        <div class="item item-input-inset" style="background-color: #886AEA">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Número ou Nome..." required="required" ng-model="search.query">
          </label>
          <button type="submit" class="button button-clear button-energized" ng-disabled="frmPesquisa.$invalod">
            <strong><i class="ion-ios-search"></i></strong>
          </button>
        </div>
      </div>
    </form>
  </ion-header-bar>
  <ion-content class="padding" style="padding-top: 57px;">
    <div class="list">
      <a ng-click="options(r)" class="item" ng-repeat="r in resultados">
        {{r.nome}}
        <p>{{r.telefone}}</p>
      </a>
      <a href="" class="item" ng-if="naoEncontrado">
        Nada encontrado!
      </a>
    </div>
  </ion-content>
</ion-view>
